<main *ngIf="college$ | async as college">
    <section class="content-menu">
            <div class="info-header">
                <div class="logo-block" *ngIf="college.photo">
                    <img [src]="college.photo" alt=""/>
                </div>
                <h1>{{ college.name }}</h1>
            </div>
            <nav>
                <ul class="no-wrap">
                    <li>
                        <a [routerLink]="['/about']" class="active">{{ 'COLLEGE.ABOUT' | translate }}</a>
                    </li>
                    <li>
                        <a [routerLink]="['/courses']">{{ 'COLLEGE.COURSES' | translate }}</a>
                    </li>
                    <li>
                        <a [routerLink]="['/teachers']">{{ 'COLLEGE.TEACHERS' | translate }}</a>
                    </li>
                    <li>
                        <a [routerLink]="['/contacts']">{{ 'COLLEGE.CONTACTS' | translate }}</a>
                    </li>
                </ul>
            </nav>
    </section>
    <section class="information">
        <div class="description">
            <div [innerHTML]="college.about" class="college-description"></div>
        </div>
    </section>
</main>
